@font-face {
    font-family: "newzald";
    src: url("/fonts/Newzald-Book.otf");
}

@font-face {
    font-family: "din";
    src: url("/fonts/din-web-regular.ttf") format("tff"),
        url("/fonts/din-web-regular.eot") format("eot"),
        url("/fonts/din-web-regular.woff") format("woff");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    min-height: 100vh;
    background-color: rgb(11, 11, 12);
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: "newzald";
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p,
span,
small,
a {
    font-family: "din";
}

.hjem,
.søkeside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.hjem h1,
.søkeside h1 {
    margin-top: 2rem;
    align-self: flex-start;
}

.hjem-knapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10rem 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

footer a {
    text-decoration: underline;
    font-size: 1.5rem;
}

.hovedknapp {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border: 2px solid white;
}

.hovedknapp:hover {
    color: black;
    background-color: white;
}

.bilderutenett {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.bilderutenett h2 {
    text-align: center;
}

.bilderute {
    display: inline-block;
    aspect-ratio: 3 / 4;
    width: 25rem;
}

.bilderute img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.søk-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.søk-wrapper input {
    font-size: 2.5rem;
    background: none;
    border-bottom: 2px solid white;
}

.søk-wrapper input:focus {
    outline: none;
}

.søk-wrapper img {
    filter: brightness(100%);
    filter: invert();
}

@media (min-width: 1000px) {
    .hjem-knapper {
        flex-direction: row;
    }
}

@media (min-width: 2000px) {
    body {
        padding: 2rem 10rem;
    }
}
